@*@using Curso.MVC.WebApplication31.Models
@model IEnumerable<Order_Details>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><b>Product ID</b></td>
            <td><b>Product Name</b></td>
            <td><b>Quantity</b></td>
            <td><b>Unit Price</b></td>
            <td><b>Total</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Products.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice.ToString("N2")</td>
                <td>@((item.UnitPrice * item.Quantity).ToString("N2"))</td>
            </tr>
        }

            <tr>
                <td>TOTAL</td>
                <td>@Model.Sum(r => r.UnitPrice * r.Quantity).ToString("N2")</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>*@
