@*@using Curso.MVC.WebApplication31.Models
@model IEnumerable<Products>

@foreach (var item in Model)
{
    <tr>
        <td>@item.ProductID</td>
        <td>@item.ProductName</td>
        <td class="text-center">@item.Categories.CategoryName</td>
        <td class="text-right">@Convert.ToDecimal(item.UnitsInStock).ToString("N2")</td>
        <td class="text-right">@Convert.ToDecimal(item.UnitsOnOrder).ToString("N2")</td>
        <td class="text-right">@Convert.ToDecimal(item.UnitPrice).ToString("N2")</td>
    </tr>
}*@